* {
    margin: 0;
    font-family: Arial, sans-serif, Helvetica;
}

body {
    background-color: #f4f6f8;
    display: flex;
    justify-content: center;
}

.Container {
    margin-top: 60px;
    margin-bottom: 60px;
    width: 400px;
    height: auto;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 5px 5px 10px #888888;
    border-radius: 10px;
    border: 1px solid #888888;
    overflow-y: auto;
}

input {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 10px;
    padding-left: 10px;
    border-radius: 10px;
    border: 2px solid #888888;
}

input:hover{
    border: 2px solid #555555;
}

button {
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    background-color: #0284F5;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid #888888;
}

button:hover {
    background-color: #056FCC; 
}

.delete-btn {
    width: 26px;
    height: 26px;
    cursor: pointer;
    background-color: #FF0000;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

.delete-btn:hover {
    background-color: #C41E3A;
}



#container {
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e0e0e0;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}